.adi-dsp{
    font-size: 14px;
    background-image: url(../../dist/img/Illustration.png);
    background-position-x: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    padding:6rem 1rem 6rem 0;
    .line{
        margin: 0;
    }
}
.line{
    background-color: #FB0C3A;
    width: 4rem;
    height: 3px;
    margin: 0 auto;
}
// ADI-META-DSP-END

// ADVANTAGES
.advantages{
    padding: 7.5rem 0;
    color: #fff;
    font-size: 14px;
    background-image: url(../../dist/img/advantage-bg.png);
    .advantage-block{
        width: 292px;
        height: 292px;
        background-image: url(../../dist/img/advantage-block.png);
        background-size: contain;
        .advantage-block-text{
            position: absolute;
            right: 2.5rem;
            top: 3rem;
            font-weight: bold;
            font-size: 14px;
            .dollar{
                font-size: 48px;
                font-weight: bold;
            }
            .year{
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
}

// BUSINESS
    .business{
        padding: 6.5rem 0 4.5rem;
        font-weight: bold;
        .line{
            margin: 0 auto;
        }
        img{
            width: 100px;
        }
    }


// BUSINESS-END

// COLLEGUES
    .collegues{
        padding: 6.5rem 0 4.5rem;
        background-color: #F2F2F2;
        img{
            filter:grayscale(1);
            &:hover{
                filter:grayscale(0);
            }
        }
    }


// COLLEGUES-END

// MAP
.map{
    position: relative;
    .line{
        position: absolute;
        left:50%;
        top:10%;
    }
    .angle{
        width: 575px;
        height: 575px;
        background: linear-gradient(to top, #d8d8d8, #dcdcdc, #e0e0e0, #e5e5e5, #e9e9e9);
        clip-path: polygon(0 0, 0 100%, 100% 0);
        top: 3px;
        left: 0;
        position: relative;
    }
    .angle-bottom{
        background-color: #000;
        position: absolute;
        width: 840px;
        height: 400px;
        bottom: 0;
        clip-path: polygon(0 0, 100% 0, 40% 100%, 0 100%);
        color:#fff;
        padding-left: 10%;
        font-weight: 100;
        .line{
            position: static;
            margin: 2rem 0 2.5rem 0;
        }
        span{
            font-weight: bold;
        }
    }
    .angle-right{
        width: 510px;
        height: 575px;
        background-color: #000;
        clip-path: polygon(100% 0, 0% 100%, 100% 99%);
        position: absolute;
        right: 0;
        bottom: 25rem;
    }
    .bitmap{
        .bitmap-main{
            position: absolute;
            max-width: 360px;
            img{
                width: 100%;
            }
            &:nth-child(1){
                left: 20%;
                top: 15%;
            }
            &:nth-child(2){
                right: 20%;
                top: 20%;
            }
            &:nth-child(3){
                left: 18%;
                top: 43%;
            }
            &:nth-child(4){
                right: 20%;
                top: 48%;
            }
            .bitmap-text{
                color: #fff;
                position: absolute;
                top: 40%;
                width: 50%;
                font-size: 32px;
                left: 65%;
                font-weight: 600;
                p{
                    margin: 0;
                }
                small{
                    font-size: 16px;
                    font-weight: 100;
                }
            }
        }
    }
}


// MAP-END