.btn-carousel{
    background-color: #FB0C3A;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 2rem;
    margin-top: .5rem;
    &::before{
        content: "";
        border-bottom: 2px solid #fff;
    }  
}
.btn-advan{
    display: inline-block;
    border:2px solid #FB0C3A;
    padding: .3rem 2.5rem;
    color: #FB0C3A;
    font-weight: 600;
    border-radius: 2rem;
    position: relative;
    transition: .5s;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: .5s;
        background-color:transparent;
        transform:scale(0);
        border-radius: 2rem;
        z-index: -1;
    }
    &:hover:before{
        background-color: rgba(#ff90a5, 0.3);
        font-size: 18px;
        transform:scale(1);;
        border: 2px solid black;
    }
    &:hover{
        color: red;
        transform:translateX(0) scale(1.1);
    }
}
