.slick-slider{
    position: relative;
    width: 100%;
    height: 750px;
    overflow: hidden;
    margin-bottom:0 !important;
    img{
        width: 100%;
        height: 100%;
    }
    .slick-dots{
        position: absolute;
        width: auto;
        right: 10%;
        top: 25%;
    }
    .slick-dots li{
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border: 2px solid grey;
        border-radius: 50%;
        margin: 1rem 0;
        opacity: 0.3;
        &.slick-active{
            border:2px solid grey;
            opacity: 1;
        }
    }
    .slick-text{
        width: 60%;
        position: absolute;
        text-align: center;
        left:20%;
        bottom: 0%;
        color: transparent;
        transform: translateY(100%);
        font-family: 'Montserrat', sans-serif;
        opacity: 0;
        font-size: 14px;
        span{
            color:#FB0C3A;
        }
        .text-left{
            font-size: 13px;
        }
    }
    .slick-active{
        .slick-text{
            transform: translate(0%);
            top: 50%;
            transition: all 2s;
            color:white;
            opacity: 1;
            
            img{
                width: auto;
                display: initial;
                height: auto;
            }
        }
    }
    .slick-slider-logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        img{
            width: auto;
            height: auto;
            position: absolute;
            z-index: 99;
            top:10%;
        }
    }
}



