@media only screen and (max-width:576px){
    h1{
        font-size: x-large;
    }
// SLIDER
.slick-slide{
    height: 100vh;
    .slick-slider-logo{
        img{
            width: 5rem;
        }
    }
    .slick-text{
        width: 90%;
        left: 5%;
        top: 30% !important;
        div{
            text-align: center !important;
        }
    }
}
// SLIDER-end

//ADI-META-DSP
.adi-dsp{
    padding: 0 0 2rem 0 !important;
}
//ADI-META-DSP-END

//ADVANTAGES -->
.advantages{
    padding: 3rem 0 !important;
    p{
        padding: 0 !important;
        margin: 0 0 1rem 0 !important;
    }
}

//ADVANTAGES-END -->

//COLLEGUES-->
.collegues{
    padding: 2rem 0 !important;
    img{
        margin-bottom: 1rem;
    }
}
//COLLEGUES-END -->

//LOCATION -->
.map{
    .angle{
        position: absolute !important;
        z-index: -1;
        width: 100% !important;
    }
    .angle-bottom{
        width: 100% !important;
    }
    .angle-right{
        display: none;
    }
    .bitmap{
        text-align: center;
        .bitmap-main{
                position: static !important;
                .bitmap-content{
                    position: relative;
                    .bitmap-text{
                        text-align: center;
                        width: 100%;
                        font-size: inherit;
                        left: auto;
                    }
                }
            img{
                width: 70% !important;
                margin-bottom: 1rem;
            }
        }
    }
}

//LOCATION-END -->

//Buttons 
    .btn-advan{
        font-size: 12px;
    }
}