footer{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding-top: 48px;
    p{
        margin: 0;
    }
    ul{
        li{
            list-style-type: none;
        }
    }
    a{
        color: #FB0C3A;
        &:hover{
            color:#fff;
            text-decoration: none;
        }
    }
    form{        
        position: relative;
        height: 2.5rem;
        input{
            width: 70%;
            background-color: #303030;
            border:none;
            position: absolute;
            height: 100%;
            padding-left: 1rem;
            color:#fff;
            &:focus{
                border:1px solid red;
            }
        }
        .btn-footer{
            background-color: #FB0C3A;
            border: none;
            color: #fff !important;
            border-radius: 0;
            padding: .5rem 1.5rem;
            font-weight: 100;
            position: absolute;
            right: 0;
            &:before{
                content: "";
                width: 2rem;
                height: 100%;
                background-color:transparent;
                position: absolute;
                top: 0;
                left: 0;
                transform:translateX(-3.5rem) skewX(-45deg);
                transition: .5s;
            }
            &:hover:before{
                transform:translateX(5.4rem) skewX(-45deg);
                background-color:rgba(#fff, 0.3);
                color: #fff !important;
            }
        }
    }
    img{
        width: 24px;
        margin-top: 1rem;
        margin-right: .5rem;
    }
}