.header{
    .container{
        position: relative;
        .header-main{
            position: absolute;
            z-index: 10;
            width:100%;
            display: flex;
            align-items: flex-end;
            height: 4rem;
            top: 0;
        }
    }
    .logo{
        img{
            width: 3rem;
        }
    }
    .header-link{
        ul{
            display: flex;
            justify-content: space-around;
            li{
                list-style-type: none;
               a{
                color: #fff;
                font-weight: 600;
                font-size: 13px;
                list-style-type: none;
               }
            }
        }
    }
    .call{
        font-weight: 600;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: end;
        img{
            margin-right: .5rem;
            margin-top: .5rem;
        }
        p{
            margin:0;
        }
    }
}
// Header-End




